/* ===== Estilo Geral ===== */
body {
  background: #03241E;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

header {
  background-color: #364259;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  margin: 0 12px;
  text-decoration: none;
  color: #dffff4;
  font-weight: bold;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}

form {
  padding: 20px;
  width: 90%;
  max-width: 800px;
}


/* ===== Fieldsets ===== */
fieldset {

  display: none;
  background: #f8f8f8;
  color: #111;
  border-radius: 14px;
  padding: 30px;
  border: none;
  box-shadow: 0px 0px 12px rgba(0,0,0,0.25);
  opacity: 0;
  transform: translateY(20px);
  transition: 0.4s;
}

fieldset.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

legend {
  color: #dffff4;
  font-size: 1.3rem;
  background-color: #005840;
  padding: 8px 18px;
  border-radius: 14px;
  border: none;

}

/* ===== Estilo dos Radios como Botões ===== */
label {
  text-align: center;
  display: block;
  background: #e6e6e6;
  color: #000;
  padding: 10px;
  border-radius: 8px;
  margin: 6px 0;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.3s;
}

input[type="radio"] {
  display: none;
  padding: 15px;
}



label:has(input[type="radio"]:checked) {
  text-align: center;
  background: #005840;
  color: white;
  border-color: #00ffa7;
}

/* ===== Botões ===== */
#pro, #ant {
  padding: 10px 25px;
  background-color: #005840;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 15px;
  transition: 0.2s;
}

#ant {
  background-color: #364259;
}

#pro:hover {
  background-color: #0a7f4a;
}

#ant:hover {
  background-color: #55637f;
}

/* ===== Footer ===== */
footer {
  text-align: center;
  background-color: #364259;
  padding: 15px;
  color: #eafff3;
  font-size: 0.9rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
